{% extends "base.html" %}
{% load static %}

{% block content %}
  <h2 style="margin-top: 20px">How to interpret Kappa score</h2>
  <div class="row">
    <div class="col-4">
      <table class="table" >
        <thead class="thead-dark">
          <tr>
            <th scope="col">Fleiss' Kappa</th>
            <th scope="col">Interpretation</th>
          </tr>
        </thead>
        <tbody>
          <tr style="color: red">
            <td>&lt; 0</td>
            <td>Poor agreement</td>
          </tr>
          <tr style="color: red">
            <td>0.01 - 0.20</td>
            <td>Slight agreement</td>
          </tr>
          <tr style="color: red">
            <td>0.21 - 0.40</td>
            <td>Fair agreement</td>
          </tr>
          <tr style="color: darkorange">
            <td>0.41 - 0.60</td>
            <td>Moderate agreement</td>
          </tr>
          <tr>
            <td>0.61 - 0.80</td>
            <td>Substantial agreement</td>
          </tr>
          <tr>
            <td>0.81 - 1.0</td>
            <td>Near-perfect agreement</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div style="display: flex; justify-content: space-around;">
    <div>
      <h3>Statistics</h3>
      <div style="display: flex; flex-direction: column; justify-content: center; margin-top: 30px">
        <p><b>Number of papers covered:</b> {{ num_papers.all_papers }}</p>
        <p><b>Number of papers with multiple reviewers:</b> {{ num_papers.multiple_reviewers }}</p>
        <p style="margin-left: 20px"><b>...of which papers with kappa = +1.0:</b> {{ num_papers.kappa_1 }}</p>
        <p style="margin-left: 20px"><b>...of which papers with good kappa:</b> {{ num_papers.good_kappa }}</p>
      </div>
    </div>
    <img src="{{ hist }}" />
  </div>
  {% for key, pair in groups %}
    <h3><a href="https://github.com/bhermann/DoR/issues/{{ key }}">Issue #{{ key }}</a></h3>
    <div class="row">
      <div class="col-8">
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Document</th>
              <th scope="col">Fleiss Kappa</th>
            </tr>
          </thead>
          <tbody>
          {% for doc, score in pair %}
            <tr>
              <td>{{ doc }}</td>
              {% if score <= 0.4 %}
                <td style="color: red">{{ score }}</td>
              {% elif score <= 0.6 %}
                <td style="color: darkorange">{{ score }}</td>
              {% else %}
                <td>{{ score }}</td>
              {% endif %}
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  {% endfor %}
{% endblock %}
